:root {

    --ElitechBlue:rgb(0, 81, 152);
    --ElitechOrange:rgb(231, 120, 23);

    --ElitechSecondaryBlue: rgb(19, 57, 132);
    --ElitechSecondaryOrange: rgb(225, 86, 22);

    --ElitechGray: rgb(195, 195, 194);
    --ElitechBlackGray: rgb(78, 75, 74);

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Social-Circles';
    src: url('/assets/Social\ Circles\ v1.1.otf') format('opentype');

}

@font-face {
    font-family: 'GalanoBlack';
    src: url('/assets/GalanoGrotesqueBlack.otf') format('opentype');

}

@font-face {
    font-family: 'GalanoSemiBold';
    src: url('/assets/GalanoGrotesqueBold.otf') format('opentype');

}

@font-face {
    font-family: 'GalanoLight';
    src: url('/assets/GalanoGrotesqueLight.otf') format('opentype');

}

@font-face {
    font-family: 'GalanoRegular';
    src: url('/assets/GalanoGrotesqueRegular.otf') format('opentype');

}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth!important;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins'!important;
    height: 100%;
    background-image: url(/assets/image/Banner\ BlackFriday-2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}

.uk-container {

    max-width: 1450px;
}

.uk-navbar-container {

    background-color: black!important;
}

.uk-navbar-nav > li > a {

    color: var(--ElitechOrange)!important;
    font-weight: bold;
}

.uk-navbar-nav > li > a:hover {

    color: var(--ElitechSecondaryOrange)!important;
}

.uk-button-menu {

    background-color: var(--ElitechOrange)!important;
    color: white!important;
    height: 50px!important;
    min-height: 30px!important;
    border-radius: 10px!important;
}

.uk-navbar-nav2 > li > a {

    color: white;
    font-weight: bold;
    padding: 8px 15px;
    text-decoration: none;
}

.uk-navbar-nav2 > li > a:hover {

    color: white;
    background-color: var(--ElitechSecondaryOrange)!important;
    font-weight: bold;
    padding: 8px 15px;
    text-decoration: none;
}

#countdown-container-day, #countdown-container-hours, #countdown-container-minutes, #countdown-container-seconds {
    font-family: GalanoBlack;
     font-size:  56px;
     color: white;
     font-weight: 100;
   }

   .uk-progress.progress-coral::-webkit-progress-value {
    background-color: var(--ElitechOrange);
  }
  .uk-progress.progress-coral::-moz-progress-bar {
    background-color: var(--ElitechOrange);
  }
  .uk-progress.progress-coral::-ms-fill {
    background-color: var(--ElitechOrange);
  }

  #countdown-container-day, #countdown-container-hours, #countdown-container-minutes, #countdown-container-seconds {

    margin-top: 80px;
    color: var(--ElitechOrange);
    font-family: GalanoBlack!important;
    font-weight: 100!important;
    color: black;
    text-shadow:
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23);
    
  }

  @keyframes move {

    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px
     50px;
    }

  }

  .bar {
    font-size: 1.2rem;
    font-weight: 700;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    margin: 0 auto 50px auto;
    height: 30px;
    width: 450px;
    border-radius: 20px;
    text-align: center;
    background-image: -webkit-linear-gradient(
-45deg,rgb(0, 81, 152) 25%,rgba(255,154,26,0) 25%,rgba(255,154,26,0) 50%,rgb(0, 81, 152) 50%,rgb(0, 81, 152) 75%,rgba(255,154,26,0) 75%);
    background-image: -moz-linear-gradient(-45deg,rgb(0, 81, 152) 25%,rgba(255,154,26,0) 25%,rgba(255,154,26,0) 50%,rgb(0, 81, 152) 50%,rgb(0, 81, 152) 75%,rgba(255,154,26,0) 75%);
    background-image: -o-linear-gradient(-45deg,rgb(0, 81, 152) 25%,rgba(255,154,26,0) 25%,rgba(255,154,26,0) 50%,rgb(0, 81, 152) 50%,rgb(0, 81, 152) 75%,rgba(255,154,26,0) 75%);
    background-image: linear-gradient(
-45deg,rgb(0, 81, 152) 25%,rgba(255,154,26,0) 25%,rgba(255,154,26,0) 50%,rgb(0, 81, 152) 50%,rgb(0, 81, 152) 75%,rgba(255,154,26,0) 75%);
    background-color: var(--ElitechSecondaryBlue);
    background-size: 50px
 50px;
    border: 2px solid #fff;
    -webkit-box-shadow: inset 0 10px 0 rgb(255 255 255 / 20%);
    box-shadow: inset 0 10px 0 rgb(255 255 255 / 20%);
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    -ms-animation: move 2s linear infinite;
    animation: move 2s linear infinite;
}

.bar::before {
    content: " ";
    position: absolute;
    right: 0;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

@keyframes anima {

    0% {
        opacity: 0 ;
    }

    100% {
        transform: rotate(360deg);
    }
}



.posBlack .bloco {
    position: relative;
    border: 1px
 solid var(--ElitechOrange);
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bloco {

    box-shadow:
            0 0 15px rgb(231, 120, 23),
            0 0 15px rgb(231, 120, 23),
            0 0 15px rgb(231, 120, 23),
            0 0 15px rgb(231, 120, 23),
            0 0 15px rgb(231, 120, 23),
            0 0 15px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23);
    
  }



.posBlack .bloco:hover {
    position: relative;
    border: 1px
 solid black;
    border-radius: 20px;
    background-color: white;
    transition: 1s;
    color: black!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}



    .bloco {

       
        animation-delay: 0.5s;
        
    }

    .sec05 {

        background-color: var(--ElitechBlue);
        opacity: 1;
        border-bottom: var(--Elitechorange) solid 3px;
        
    
  }

  .divisor h3 {

    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-family: GalanoBlack;
  }

  .titulo-head {

    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  .uk-accordion-title span {
    position: absolute;
    display: block;
    background: var(--ElitechOrange);
    color: #000;
    border-radius: 50px;
    font-size: .9rem;
    font-weight: 700;
    line-height: 1;
    padding: 5px;
    width: 16px;
    height: 16px;
    text-align: center;
}



.uk-accordion-title h2, .uk-accordion-title h3 {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
}

.uk-accordion-title {
    position: relative;
    display: block;
    font-size: 1.25rem;
    line-height: 1.4;
    overflow: hidden;
    background: #333;
    padding: 10px
 25px;
    text-align: left;
}



  .titulo-head h2 {

    width: 70%;
  }

  .titulo2 {

    font-family: GalanoRegular;
    color: white;
    width: 100%;
    
  }

  #regulamento p {

    color: white;
    margin-left: 15px;
  }

  .marginn {

    margin-top: 150px;
  }

  


  .divisor2 h3 {

    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-family: GalanoBlack;
  }
  
  .selo-div {

    position: absolute;
    top: 8px;
    animation: fade-in 2s normal forwards ease-in-out;
    animation-delay: 3s;
    opacity: 0;
    left: 410px;

    
  }

 

  .divisor {

    width: 100%;
    height: 25px;
    background-color: var(--ElitechOrange);
    animation: 1 timingx 3s linear alternate-reverse;
    position: relative;
  }

  .divisor2 {

    width: 100%;
    height: 25px;
    background-color: var(--ElitechOrange);
    animation: 1 timingx 3s linear alternate-reverse;
    position: relative;
  }

 

  @keyframes timingx {

    0% {
        right: 10px;

    }

    100% {

        right: 1920px;

    }

}

@keyframes timingx2 {

    0% {
        left: 0px;

    }

    100% {

        left: 1900px;

    }

}
  
    

    .box {

        background-color: white;
        border-radius: 10px;
    }

    .sec05 .uk-slidenav {
        color: var(--ElitechOrange);
        outline: 0;
        background: black;
        border-radius: 50px;
        -webkit-box-shadow: 0 0 20px yellow;
        box-shadow: 0 0 20px rgb(0, 195, 255);
    }

    .sec05 img {

        width: 300px!important;
        height: 300px!important;
    }

    .selo-div img {

        width: 80px!important;
        height: 80px!important;
      }

    .sec6 img {

        width: 120px!important;
        height: 120px!important;
        animation: fade-in 2s normal forwards ease-in-out;
        animation-delay: 4s;
        opacity: 0;
        position: absolute;
        left: 150px;
        transform: rotateZ(340deg);
    }

    @keyframes fade-in {

        from   { opacity: 0; }
        to     { opacity: 1; }
}
    

    .uk-button-primary {
        background: var(--ElitechOrange);
        border-radius: 5px;
        font-size: 0.8rem;
        padding: 5px 40px;
        margin-bottom: 15px;
    }

    .uk-button-primary:hover {
        background: var(--ElitechSecondaryOrange);
        border-radius: 5px;
        font-size: 0.8rem;
        padding: 5px 40px;
        margin-bottom: 15px;
    }

    canvas, img, video {
        max-width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .uk-accordion-title {
        position: relative;
        color: white!important;
        display: block;
        font-size: 1.25rem;
        line-height: 1.4;
        border-radius: 7px;
        overflow: hidden;
        background: var(--ElitechBlue);
        padding: 10px 25px;
        text-align: left;
    }

    .uk-accordion-title:hover {

        background: var(--ElitechOrange);
    }

    .uk-accordion-title h2, .uk-accordion-title h3 {
        color: #fff;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        position: relative;
        top: 10px;
        line-height: 1.4;
    }

    .uk-accordion-title::before {
        content: "";
        width: 26px;
        border-radius: 20px;
        position: relative;
        top: 10px;
        height: 26px;
        margin-left: 10px;
        float: right;
        background-image: url();
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: #fff;

    
        
    }

    .uk-accordion-title::before {
        content: "";
        width: 1.4em;
        height: 1.4em;
        margin-left: 10px;
        float: right;
        background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    #faq {

        background-image: url(/assets/image/Banner\ BlackFriday-2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

    #faq p {

        color: white;
    }

    footer {
        background: #1c1c1c;
        padding: 30px
     0 0 0;
        color: #fff;
        height: 260px;
    }

    footer .social {
        font-family: 'Social-Circles',sans-serif;
        position: relative;
        right: 18px;
        text-decoration: none;
        font-size: 50px;
        color: #fff;
        margin: 0;
        list-style: none;
    }

    li::marker {

        display: none!important;
    }

    .uk-button-default {
        background-color: var(--ElitechOrange);
        color: white;
        border: 1px
     solid #e5e5e5;
    }

    .uk-button {

        height: 37px;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        position: relative;
        top: 22px;
        display: flex;
        
    }
    .uk-nav > li > a {

        color: rgb(255, 255, 255)
    }
    .uk-offcanvas-bar .uk-nav-primary>li>a {

        color: white;
        font-size: 14px;
    }

    .uk-button-default:hover {

       background-color: var(--ElitechSecondaryOrange); 
       color: white;
    }
    
    .uk-offcanvas-bar {

        background-color: var(--ElitechOrange);
    }

    .uk-dropdown {

        background-color: var(--ElitechOrange);
        border-radius: 10px;
        color: white;
    }

    .uk-h1, h1 {
        font-size: 8.23125rem;
        line-height: 0.7;
        font-family: GalanoBlack!important;
        font-weight: 600;
        text-transform: uppercase;
        background-clip: content-box;
        text-shadow: var(--ElitechOrange) 1px 1px 25px;
        color: black!important;
        animation: pulsate 1.0s infinite alternate;
        text-shadow:
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23);
        }
        
    

    @keyframes pulsate {
        100% {
          /* Larger blur radius */
          text-shadow:
            0 0 4px rgb(231, 120, 23),
            0 0 11px rgb(231, 120, 23),
            0 0 19px rgb(231, 120, 23),
            0 0 40px rgb(231, 120, 23),
            0 0 80px rgb(231, 120, 23),
            0 0 90px rgb(231, 120, 23),
            0 0 100px rgb(231, 120, 23),
            0 0 150px rgb(231, 120, 23);
        }
        0% {
          /* Smaller blur radius */
          text-shadow:
            0 0 4px rgb(19, 57, 132),
            0 0 4px rgb(19, 57, 132),
            0 0 4px rgb(19, 57, 132),
            0 0 4px rgb(19, 57, 132),
            0 0 45px rgb(19, 57, 132),
            0 0 55px rgb(19, 57, 132)a,
            0 0 70px rgb(19, 57, 132),
            0 0 80px rgb(19, 57, 132);
        }
      }
      

    .uk-nav > li > a {

        color: white;

    }

    .div {

        display: flex!important;
        flex-wrap: wrap;
        width: 100%;
    }

    .uk-button-primary {

        justify-content: center!important;
        top: 0;
        align-items: center!important;
        right: 0;
        bottom: 0;
        left: 65px;
        text-align: center;
        width: 70%;
       
    }

    .countdown-container-text {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .countdown-container-text h3 {

        width: 10.6%;
        color: black;
        text-transform: uppercase;
        font-family: GalanoBlack;
        margin: 40px 30px 20px;
        text-shadow:
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23);
    
  }
    
    #countdown-container {

        display: flex;
        flex-wrap: wrap;
        color: black;
        font-size: 2rem;
        font-weight: GalanoBlack;

        justify-content: center;
        text-shadow:
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23);
    
  }
    

    #countdown-container-day, #countdown-container-hours, #countdown-container-minutes, #countdown-container-seconds {

        width: 8%!important;
        background-color: black;
        margin: 10px 50px;
        border-radius: 10px;
        

        
    }
    .uk-open>.uk-accordion-title::before {

        position: relative!important;
        bottom: 10px!important;
    }

    #countdown-container-day p {

        background-color: white!important;
        width: 100px;
        height: 100px;
        padding: 10px;
    }

    .uk-accordion-content {

        text-align: left;
    }



    @media only screen and (max-width:428px) {

        .bar {

            width: 380px;
        }

        footer {

            height: 450px;
        }

        .uk-container {

            max-width: 390px;
    }
    .uk-h1, h1 {

        font-size: 3rem;
    }

    #countdown-container {
        font-size: 2.5rem;
        margin-top: 40px;
    }

    

    .selo-div {

        position: absolute;
        top: 8px;
        animation: fade-in 2s normal forwards ease-in-out;
        animation-delay: 3s;
        opacity: 0;
        left: 330px;
    
        
      }

      .selo-div img {

        width: 60px!important;
        height: 60px!important;
      }
      .uk-button-primary {

        width: 80%;
        left: 40px;
        padding: 5px 20px;
      }

      .countdown-container-text {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .countdown-container-text h3 {

        width: 23.0%;
        font-size: 0.8rem;
        color: black;
        text-transform: uppercase;
        font-family: GalanoBlack;
        margin: 0px 0px 0px 0px;
        text-shadow:
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23);
    
  }
    
    #countdown-container {

        display: flex;
        flex-wrap: wrap;
        color: black;
        font-size: 2rem;
        font-weight: GalanoBlack;

        justify-content: center;
        text-shadow:
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23),
            0 0 4px rgb(231, 120, 23);
    
  }
    

    #countdown-container-day, #countdown-container-hours, #countdown-container-minutes, #countdown-container-seconds {

        width: 23%!important;
        margin: 0 2px 0 2px;
        font-size: 2rem;
        background-color: black;
        border-radius: 10px;
        

        
    }

    .uk-h2, h2 {

        font-size: 1rem;
    }

  
    #segundos {

        position: relative;
        left: 10px;
    }



    }

    @media only screen and (width:1024px) {

        .uk-container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .uk-button-primary {

            width: 90%!important;
            left: 15px;
            padding: 5px 10px;
          }

          .selo-div img {

            width: 60px!important;
            height: 60px!important;
          }

          .selo-div {

            position: absolute;
            top: 8px;
            animation: fade-in 2s normal forwards ease-in-out;
            animation-delay: 3s;
            opacity: 0;
            left: 270px;
        
            
          }
    }

    @media only screen and (width:1440px) {

        .selo-div {

            left: 380px;
        }
    }

    @media only screen and (width:375px) {

        .selo-div {

            left: 280px;
        }
    }